/* .debug *{
    outline: 1px solid blue;
}
 */




/* GENERALI____________ */

#my_main{
    height: 100vh;
    width: 100vw;
}


ul{
    list-style: none;
}

.my_btn{
    background-color: #144b98;
    border: transparent;
}

.my_btn_square{
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
}

/* ///////////////////////// */

/* NAVBAR_________________ */

nav{
    width: 100%;
    height: 65px;
}

.my_logo{
    width: 40px;
}

.fa-bell{
    color: orange;
}


/* ////////////////////////// */
/* MAIN_____________________ */


/* sidebar____________________ */

main{
    width: 100%;
    height: calc(100vh - 65px);
}

#sidebar{
    height: calc(100vh - 65px);
    max-width: 150px;

    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}



/* main_content_______________*/


#main_top{
    background-color: #1b70e8 ;
}

#main_inner{    
    background-color: #f8f9fa;
}


/* main_content_______left_col_____ */

table img{
    width: 25px;
}



