.debug *{
    outline: 1px solid blue;
}


/* ///////GENERALI/////// */

.my_btn{
    border: transparent;
    color: white;
    border-radius: 10px;
}

/* navbar______________________________________ */

nav{
    width: 100%;
    height: 50px;
    background-color: white;
}

/* left */

.my_logo{
    width: 3rem;
}


/* center */

.my_search_bar input{
    background-color: rgb(235, 233, 233);
}


/* right */

.my_bell{
    color: orange;
}

/* ********************************* */

/* MAIN____________________________ */

#main_inner{
    height: calc(100vh - 50px);
}


/* right-main-sidebar */

#sidebar{
    height: calc(100vh - 50px);
    width: 150px;

    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

/* left-main */

#main-content{
    height: calc(100vh - 50px);
    width: 100%;
    background-color: #f8f9fa;
}


#main_top{
    background-color: #1b70e8 ;
}

#main_top .my_btn{
    background-color: #0c4696;
}
